server:
  port: 5600
  servlet:
    context-path: /datalink
spring:
  profiles:
    active: prod

  application:
    name: dataround-link
  
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8

mybatis-plus:
  mapper-locations: classpath:mapper/*.xml
  type-handlers-package: io.dataround.link.typehandler

dataround:
  link:
    scheduler:
      threadPoolSize: 10
  seatunnel:
    api:
      # Supports adding multiple URLs for seatunnel cluster mode, separated by commas.
      base-url: ${SEATUNNEL_API_URL:http://localhost:8080}

       

logging:
  level:
    io.dataround.link: info
    io.dataround.link.mapper: info